@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;

  .component {
    padding: 10px;
    border: 1px dashed gray;

    .actions-container .action {
      padding: 0;
      .v-icon {
        vertical-align: inherit;
      }
    }
  }

  .component-block {

    .block-element-container {
      padding: 10px;
      border: 1px dashed lightgray;
    }

    .component-block-contents {
      border: 1px dashed #cccccc;
    }
  }

  .component-columns {

    .v-splitpanel-horizontal .v-margin-right {
      padding-right: 5px;
    }
    .v-splitpanel-horizontal .v-margin-left {
      padding-left: 5px;
      padding-right: 1px;
    }

    .size .v-radiobutton {
      display: inline;
    }
  }
}
