@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;

  .component {
    padding: 10px;
    border: 1px dashed #cccccc;

    .action {
      padding: 0;
      .v-icon {
        vertical-align: inherit;
      }
    }
  }

  .component-block {
    border: 1px dashed grey;
    padding: 10px;

    .component-block-options {
      width: 64px;
    }
  }

  .component-dynamic {
    .container .v-slot-big { width: 67% !important; }
    .container .v-slot-small { width: 33% !important; }
  }

  .component-columns, .component-dynamic {
    .size .v-radiobutton {
      display: inline;
    }
  }
}
